@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html{
    height: 100%;
    outline: 5px solid rgb(58, 6, 6);
    outline-offset: -5px;
}

.main-container{
    outline: 5px solid red;
    outline-offset: -5px;
    flex-grow: 1;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: black;
    background-color: #ffffff;
}

.page-header{
    background-color:#ffe17f;
    color: black;
    outline: 5px solid rgb(14, 42, 165);
    outline-offset: -5px;
    display: flex;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.container-navigation-all{
    margin: 0;
    padding: 0;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.navigation-list{
    margin:0;
    padding:0;
}

.container-navigation-user{
    margin:0;
    padding:0;
    display: flex;
    height: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.navigation-list{
    
    display: flex;

}

.navigation-list-2{
    margin:0;
    padding:0;
    display: flex;
}

.searching-form-product{
    margin-right: 40px;
    width: 500px;
}

.navigation-link-user{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    color: black;
    background-color: #ffe17f;
    text-decoration: none;
}

.navigation-link-user-login{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    color: black;
    background-color: #ffe17f;
    text-decoration: none;
}

.navigation-item-2{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.navigation-link-inner{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: black;
    background-color: #ffe17f;
    text-decoration: none;
}

.navigation-link-main{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: black;
    background-color: #ffe17f;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.navigation-item-catalog{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: black;
    background-color: #ffe17f;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-container{
    margin:0;
    padding:0;

}

.slider-item{
    margin:0;
    padding:0;
    width: 1160;
    display: flex;
    justify-content: center;
    gap: 40px;
    outline: 5px solid rgb(146, 13, 128);
    outline-offset: -5px;
}

.slider-image-container{
    width: 560px;
    height: 560px;
    margin:0;
    padding:0;
    outline: 5px solid rgb(13, 146, 84);
    outline-offset: -5px;
}

.product-description-container{
    width: 560px;
    height: 560px;
   
    outline: 5px solid rgb(13, 146, 84);
    outline-offset: -5px;
}

.slide-number{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 180px;
    line-height: 30px;
    font-weight: 800;
    text-align: right;
    color: white;
    background-color: #ffe17f;
}

h3 {
    font-family: "Raleway","Arial", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    text-align: left;
    color: black;
}

.product-description{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

.button-moreinfo-light{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.2em;
}

.parameter-value{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: 400;
}

.parameter{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
}

.category-container{
    margin:0;
    padding:0;
    width: 1160px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    outline: 5px solid rgb(146, 13, 128);
    outline-offset: -5px;
}

.category-link{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.category>a{
    text-decoration: none;
}

.tabs{
    background-color: #f0f0f0;
}

.tabs-container{
    margin:0;
    padding: 0;
  
    display: flex;
    
    gap: 40px;
    justify-content: center;
    outline: 5px solid rgb(146, 13, 24);
    outline-offset: -5px;
}

.tabs-items{
    padding: 0;
    margin: 0;
    width: 360px;
    outline: 5px solid rgb(70, 50, 185);
    outline-offset: -5px;
}

.tabs-item{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.all-tabs-container{
    padding: 0;
    margin: 0;
    width: 760px;
}

.tabs-body{
    padding: 0;
    margin: 0;
    
    padding-right: auto;
    outline: 5px solid rgb(13, 146, 91);
    outline-offset: -5px;
}

.tabs-item.checked{
    color:#ffe17f;
    background-color: black;
}

.tabs-description{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
    background-color: #f0f0f0;
}

.delivery-car-container{
    margin: 0;
    padding: 0;
    width: 125px;
    height: 100px;
    background-color: #ffe17f;
}

.delivery-popup-container{
    margin: 0;
    padding: 0;
    width: 125px;
    height: 100px;
    background-color: #f0f0f0;
}

.delivery-container{
    margin: 0;
    padding: 0;
    width:1160px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    display: flex;
}

.delivery-description{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.about-us-and-contacts-container{
    margin: 0;
    padding: 0;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.about-us{
    margin: 0;
    padding: 0;
    width: 560px;
    height: 562px;
}

.contacts{
    margin: 0;
    padding: 0;
    width: 560px;
    height: 562px;
}

.info-about-company-name{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    text-align: left;
    color: black;
}

.info-about-company-description{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

.about-us-companies{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.info-about-company-section-name{
    font-family: "Rubik","Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #444444;
}





.contacts-phone{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

.contacts-schedule-item{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

.section-name{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    text-align: left;
    color: black;
}

.newsletter{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.newsletter-description-container{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    outline: 5px solid rgb(146, 13, 91);
    outline-offset: -5px;
}

.newsletter-description{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #444444;
    margin: 0;
    margin-top: 86px;
    padding: 0;
    padding-left: auto;
    width: 560px;
}

.newsletter-form-container{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    display: flex;
    
}

.newsletter-form{
    margin:0;
    margin-right: 136px;
    padding:0;
    padding-left: 140px;
    display: flex;
    outline: 5px solid rgb(146, 73, 13);
    outline-offset: -5px;
}

.newsletter-description-free{
    margin: 0;
    padding: 0;
    margin-top: 13px;
}

.newsletter-email{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-left: auto;
    width: 600px;
}

.section-name-newsletter{
    margin: 0;
    margin-top: 86px;
    padding: 0;
    padding-right: auto;
    width: 560px;
}

.newsletter-button-text{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

footer{
    background-color: #444444;
    color: #ffffff;
    min-width: 1160px;
}

.page-footer-container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-direction: column;
}

.footer-contacts-container{
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-adress{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    width: 360px;
}

.navigation-list-2-footer{
    padding:0;
    margin: 0;
    display: flex;
    width: 440px;
    justify-self: center;
    justify-content: space-between;
   
}

.navigation-link-footer{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.phone-footer-container{
    padding: 0;
    margin: 0;
    width: 176px;
    margin-left: auto;
}

.phone-text{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right; 
}

.footer-links-container{
    padding:0;
    margin: 0;
    display: flex;
    width: 1160px;
    justify-content: space-between;
    outline: 5px solid rgb(33, 13, 146);
    outline-offset: -5px;
}

.social-media-links-container{
    margin: 0;
    padding: 0;
    display: flex;
    outline: 5px solid rgb(172, 52, 162);
    outline-offset: -5px;
}

.html-academy-link{
    margin-left: 0;
}

.yellow{
    padding: 0;
    margin: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc700;
    outline: 1px solid rgb(13, 146, 42);
    outline-offset: -5px;
}

.contacts-phone-footer{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.inner-header-title{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    text-align: left;
    color: black;
}

.breadcrumbs-link{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
    color: rgba(0,0,0,0.6)
}

.catalog-filter-title{
    padding: 0;
    margin: 0;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    color: black;
    background-color: #dcdcdc;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
}

.catalog-sorting-title{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    color: black;
    background-color: #ebebeb;
    text-transform: uppercase;
}

.catalog-filter-title-category{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.catalog-filter-label{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0,0,0,0.3)
}

.control-label{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.button-moreinfo-dark{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.2em;
}

.product-card-title{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.product-card-price{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.pagination-show-more{
    font-family: "Raleway","Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-link{
    text-decoration: none;
    color: black;
}

.catalog-prev{
    font-family: "Raleway","Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-next{
    font-family: "Raleway","Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;  
}

.page-number{
    font-family: "Rubik","Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0,0,0,0.3)
}

.social-media{
    color: white;
}

.product-card-link{
    text-decoration: none;
}

.button-moreinfo-card{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.2em;
}

.category-image{
    width: 160px;
    height: 160px;
    background-color: #ffe17f;
}

.tabs-item-container{
    width: 280px;
    height: 40px;
}

.tabs-item-container-checked{
    width: 280px;
    height: 40px;
    background-color: black;
}        

.tabs-container{
    background-color: #f0f0f0;
}

.delivery-description-container{
    width: 1160px;
    height: 100px;
    background-color: #f0f0f0;
}

.newsletter{
    background-color: #f0f0f0;
}

.sorting-type{
    background-color: #ebebeb;
}

.catalog-filter-title-container{
    background-color: #dcdcdc;
}

.catalog-filter{
    background-color: #ffffff;
    width: 275px;
    margin-left: auto;
    
}

.catalog-pagination-container{
    background-color: #ebebeb;
}

.catalog-products{
    display:flex;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.catalog{
    display: flex;
    flex-direction: column;
    
    
}

.catalog-left-column{
    padding: 0;
    margin: 0;
    width: 328px;
}

.product-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    padding-top: 70px;
    padding-left: 70px;
}